:root {
  --color-text: #FBFBFC;
  --color-secondary: #619DF0;
  --color-primary: #7AB5F8;
  --color-primary-30: #a2cbfa;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, */
  /* Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-color: #f5f5f5;
}

.ql-container {
  font-family: inherit;
}

/* Scroll bar */
/* Set the width and color of the scrollbar */
.ql-editor::-webkit-scrollbar {
  width: 8px;
  background-color: #F0F0F080;
}

/* Set the color and style of the scrollbar thumb */
.ql-editor::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #D9D0D0;
  border: 2px solid #D9D0D0;
  border-radius: 5px;
}

/* Set the color and style of the scrollbar thumb when hovered */
.ql-editor::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
  border-color: #ccc;
}


/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 2rem;
}

.ql-toolbar.ql-snow {
  z-index: 1;
  border: none;
  transform: rotate(0deg);
  background-color: #7AB5F8;
  width: 13rem;
  height: 100vh;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: 11rem;
  align-items: center;
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex;
  flex-direction: column;
}

.ql-snow .ql-picker.ql-header {
  width: 100%;
  margin: 0 auto;
}

.ql-toolbar.ql-snow .ql-formats .ql-picker {
  margin-top: 1rem;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  display: none;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #fff;
}

.ql-toolbar.ql-snow .ql-picker-label {
  border: none;
  color: #fff;
}

.ql-formats button {
  margin-top: 1rem;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  height: 33px;
  width: 33px;
  stroke: #fff;
}

.ql-snow .ql-stroke {
  stroke: #fff;
}

.ql-container {
  width: 62vw;
  height: 80vh;
  margin: 6% auto;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  border-radius: 10px;
}

.ql-editor {
  font-size: 16px;
}

.ql-editor.ql-blank::before {
  font-style: normal;
}

.logo {
  position: absolute;
  z-index: 2;
  width: 13rem;
  height: 4rem;
  top: 5.5rem;
  left: 0%;
}

/* //////////////////// CARDS //////////////////// */
.side-cards {
  padding-left: 2rem;
}

.cards {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  background: #FFFFFF;
  box-shadow: -5px 5px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: auto;
}

.export-btn {
  border: none;
  background: transparent;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 1rem 1.8rem;
  border-radius: 25px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.cards-flex {
  width: 25vw;
  display: flex;
  justify-content: end;
}

/* //////////////////// TODO LIST //////////////////// */

.header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.todo-list {
  display: inline-block;
  width: 100%;
}

.todo-card {
  padding: 2rem;
  width: 100%;
  height: 18rem;
}

.item {
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(204, 204, 204, 0.87);
}

.flex {
  display: flex;
  gap: 0.8rem;
}

.btn-complete {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-circle {
  font-size: 1.3rem;
  color: #000000af;
}

.icon-circle:hover {
  color: green;
}

.edit {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.icon-pencil {
  font-size: 1.5rem;
}

.todo-card .item {
  width: 100%;
}

.todo-card p {
  font-size: 1.5rem;
  color: #000000af;
}

.add-task {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.7rem;
}

.btn-add {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon-add {
  color: var(--color-primary);
  font-size: 2rem;
}

.input {
  font-size: 1.4rem;
  border: none;
  color: #000000e7;
  border-bottom: 2px solid rgba(204, 204, 204, 0.87);
}

.input.error {
  border-color: #e24f4fb4;
}

.input.error:focus {
  border-color: #e24f4fb4;
}

.input:focus {
  outline: none;
  border-color: rgba(120, 120, 120, 0.87);
}

.input::placeholder {
  font-size: 1.3rem;
}

/* //////////////////// TIMER //////////////////// */

.timer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.timer-card {
  padding: 2rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.circular-progress {
  position: relative;
  height: 145px;
  width: 145px;
  background-color: #D3D3D3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 87%;
  width: 87%;
  background-color: #fff;
  border-radius: 50%;
}

.value-container {
  z-index: 2;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary);
}

.text {
  margin-top: -1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000b0;
  letter-spacing: 0.5px;
  z-index: 1;
}

.btn {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: var(--color-primary);
  cursor: pointer;
}

.duration-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 28rem;
  margin: 1rem auto 0 auto;
}

.duration-amount {
  font-size: 1.5rem;
  color: #0F0F0EB2;
}

.duration-text {
  font-size: 1.5rem;
  color: #0F0F0EB2;
}

.btn-start {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.clock-icon {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.btn-5min {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* //////////////////// TIPS //////////////////// */

.card-tips {
  padding: 2rem;
  width: 100%;
  height: 17rem;
  background-color: #EDF0F6;
  text-align: left;
  overflow: hidden;
}

.tips-header {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

.tips-info {
  font-size: 1.3rem;
  font-weight: 400;
  color: #00000097;
  margin-top: 0.4rem;
}

.btn-container {
  text-align: center;
}

.tips-btn {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  border: 0;
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

/* //////////////////// MODAL //////////////////// */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 80rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////// TIPS MODAL //////////////////// */
.modal h4 {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 400;
  color: #000000ad;
  height: 14rem;
  width: 100%;
  text-align: center;
}


.buttons {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.btn-left,
.btn-right,
.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-right,
.btn-left {
  font-size: 2.6rem;
  color: var(--color-primary);
}

.modal-icon {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 2.5rem;
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.selector {
  width: 2rem;
  height: 2rem;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.selector:hover {
  background-color: var(--color-primary-30);
}

.selector.active {
  background-color: var(--color-primary);
}