.dark-theme {
  --color-background: #1E1E1E;
  --main-text: #ffffffe7;
  --color-secondary: #5370e1;
  --color-primary: #3D5AF2;
  --color-primary-30: #8da3fc;
  --color-toolbar: #000000;
  --color-tips: #000;
}

.light-theme {
  --color-background: #F8F8F8;
  --main-text: #000000a7;
  --color-secondary: #3148c2;
  --color-primary: #3D5AF2;
  --color-primary-30: #647bf5;
  --color-toolbar: #FBFBFC;
  --color-tips: #EDF0F6;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, */
  /* Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  transition: background-color 0.3s linear, color 0.3s linear;
  background-color: var(--color-background);
}

/* Scroll bar */
/* Set the width and color of the scrollbar */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.8rem;
  border-radius: 10px;
}

/* Set the color and style of the scrollbar thumb */
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #D9D0D0;
  border: 2px solid #D9D0D0;
  border-radius: 25px;
  pointer-events: auto;
}

/* Set the color and style of the scrollbar thumb when hovered */
*::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
  border-color: #ccc;
  cursor: pointer;
  border: 5px solid #F8F8F8;
}

.dark-theme *::-webkit-scrollbar-thumb,
.dark-theme *::-webkit-scrollbar-thumb:hover {
  border: 5px solid var(--color-background);
}

.dark-theme .card::-webkit-scrollbar-thumb,
.dark-theme .card::-webkit-scrollbar-thumb:hover {
  border: 5px solid #FBFBFC;
}

.container *::-webkit-scrollbar {
  width: 1.8rem;
  background-color: #fbfbfc;
}

.container *::-webkit-scrollbar-thumb {
  background-color: #d9d0d0;
  border: 4px solid #fbfbfc;
}

.dark-theme .container *::-webkit-scrollbar {
  width: 1.8rem;
  background-color: #000;
}

.dark-theme .container *::-webkit-scrollbar-thumb {
  background-color: #d9d0d0;
  border: 5px solid #000;
}

/* Main */
.btn-hover {
  transition: all 0.3s linear;
}

.btn-hover:hover {
  opacity: 0.8;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  min-width: 12rem;
  max-width: 75rem;
  font-weight: 600;
  width: 10rem;
  margin: 2.4rem 0 1rem 1rem;
  border: 0;
  background-color: transparent;
  font-size: 2.4rem;
  padding: 0.4rem;
  color: var(--main-text);
  border: 1px dotted transparent;
  transition: border .3s linear;
  border-radius: 5px;
  font-family: inherit;
}

.title:focus,
.title:hover {
  outline: none;
  border: 1px solid var(--color-primary);
}

.word-count {
  display: inline-block;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-left: 2rem;
  font-family: inherit;
  color: var(--main-text);
}

.ql-toolbar.ql-snow {
  z-index: 1;
  border: none;
  transform: rotate(0deg);
  background-color: var(--color-toolbar);
  width: 13rem;
  height: 100vh;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: 8.2rem;
  align-items: center;
  gap: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ql-snow .ql-picker.ql-header {
  width: 100%;
  margin: 0 auto;
}

.ql-editor.ql-blank::before {
  color: var(--main-text);
}

.ql-toolbar.ql-snow .ql-formats .ql-picker {
  margin-top: 1rem;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  display: none;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #FBFBFC;
}

.ql-toolbar.ql-snow .ql-picker-label {
  border: none;
  color: #FBFBFC;
}

.ql-formats button {
  margin-top: 1rem;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  font-size: 2rem;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg,
.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
  float: left;
  height: 100%;
  width: 2.1rem;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  left: 0%;
}

.ql-snow .ql-picker-options {
  min-width: 0%;
  left: 38%;
}

.ql-snow .ql-align.ql-picker.ql-expanded .ql-picker-options {
  left: 50%;
  transform: translateX(-50%);
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button,
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 3.5rem;
}

.ql-container {
  width: 62vw;
  height: 87vh;
  margin: 0% auto 0 auto;
  background-color: var(--color-toolbar);
  border-radius: 10px;
  font-family: inherit;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  border-radius: 10px;
  padding: 10px 14px 12px 14px;
  font-size: 16px;
  color: var(--main-text);
}

.ql-editor.ql-blank::before {
  font-style: normal;
}

.logo {
  z-index: 2;
  width: 92%;
  top: 5.5rem;
  margin-bottom: 1.4rem;
}

/* Toolbar */
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: var(--color-secondary);
}

.toolbar-icon,
.ql-toolbar.ql-snow .ql-picker-label {
  color: #9A9A9A;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  transition: color .1s linear;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--color-secondary);
}

.toolbar-hover {
  position: relative;
}

select .toolbar-hover .toolbar-text,
.toolbar-hover .toolbar-text {
  color: #FFF;
  padding: 0.3rem;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  width: 100%;
  background-color: var(--color-secondary);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  font-size: 1.4rem;
  top: 0%;
  left: 80%;
  font-weight: 400;
  transition: opacity 0.1s linear;
  opacity: 0;
}

.toolbar-hover .toolbar-text--align {
  position: absolute;
  top: 0%;
  width: 9rem;
  transform: translateX(32%);
}

.toolbar-hover .toolbar-text--styles {
  font-size: 1.6rem;
  width: 9rem;
  height: 3.2rem;
  transform: translate(32%, -10%);
}

.toolbar-hover:hover .toolbar-text {
  transition-delay: 0.8s;
  opacity: 1;
}

.toolbar-text {
  transition-delay: 0s;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Text';
  font-size: 1.5rem;
  font-weight: 400;
}

.toolbar-hover:hover .toolbar-text {
  /* Existing CSS properties... */
  opacity: 1;
}

.ql-format {
  display: inline-block;
}

.toolbar-icon,
.ql-toolbar.ql-snow .ql-picker-label {
  margin: 0;
  padding: 0;
}

.ql-toolbar.ql-snow .ql-picker-label:hover,
.container .toolbar .toolbar-icon:hover {
  color: var(--color-secondary);
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0;
}

.container .toolbar .ql-active svg {
  color: var(--color-secondary);
  /* color: #fff; */
}

.main {
  overflow: hidden;
}

/* //////////////////// CARDS //////////////////// */
@keyframes startup {
  0% {
    filter: blur(4px);
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}

.side-cards {
  animation: startup 0.6s ease-in-out;
  padding: 1rem 0 2rem 2rem;
}

.cards {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  background: var(--color-toolbar);
  box-shadow: -5px 5px 16px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: auto;
}

.export-btn {
  border: none;
  background: transparent;
  background-color: var(--color-primary);
  color: #FBFBFC;
  padding: 1rem 1.8rem;
  border-radius: 25px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  gap: 0.4rem;
  cursor: pointer;
}

.cards-flex {
  width: 25vw;
  display: flex;
  justify-content: end;
}

/* //////////////////// TODO LIST //////////////////// */

.header {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--main-text);
}

.todo-list {
  display: inline-block;
  width: 100%;
}

.todo-card::-webkit-scrollbar {
  background-color: transparent;
}

.todo-card {
  padding: 1.2rem 2rem 2rem 2rem;
  width: 100%;
  height: 17rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.item {
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: transform 0.4s ease-out;
}

.item.priority {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.flex {
  display: flex;
  gap: 0.8rem;
}

.btn-complete {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-circle {
  font-size: 2.5rem;
  color: var(--color-primary)
}

.icon-circle:hover {
  color: green;
}

.edit {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.icon-pencil {
  font-size: 1.5rem;
  color: var(--main-text);
}

.icon-flag {
  color: var(--main-text);
  font-size: 1.5rem;
  margin-left: 0.2rem;
  transition: color 0.2s ease-in-out;
}

.icon-flag:hover {
  color: var(--color-primary);
}

.btn-flag--active .icon-flag {
  color: var(--color-primary);
}

.todo-card .item {
  width: 100%;
}

.flex:hover {
  text-decoration: line-through;
  color: #fff;
}

.todo-card p {
  font-size: 1.5rem;
  color: var(--main-text);
}

.add-task {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.7rem;
}

.btn-add {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon-add {
  background-color: var(--color-primary);
  color: var(--color-toolbar);
  width: 2.5rem;
  padding: 0.3rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s linear all;
}

.icon-add.error {
  transform: rotate(-180deg);
}

.input {
  font-size: 1.6rem;
  border: none;
  color: var(--main-text);
  background-color: transparent;
  margin-left: 0.2rem;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: rgba(120, 120, 120, 0.87);
}

.input::placeholder {
  font-size: 1.5rem;
}

/* //////////////////// TIMER //////////////////// */

.timer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 4rem;
}

.timer-card {
  padding: 2rem;
  width: 100%;
  height: 26rem;
  overflow: hidden;
}

.circular-progress {
  position: relative;
  height: 145px;
  width: 145px;
  background-color: #D3D3D3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 87%;
  width: 87%;
  background-color: var(--color-toolbar);
  border-radius: 50%;
}

.value-container {
  z-index: 2;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary);
}

.text {
  margin-top: -1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--main-text);
  letter-spacing: 0.5px;
  z-index: 1;
}

.btn {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: var(--color-primary);
  cursor: pointer;
}

.duration-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto 0 auto;
}

.duration-amount {
  font-size: 1.5rem;
  color: var(--main-text);
}

.duration-text {
  font-size: 1.5rem;
  color: var(--main-text);
}

.btn-start {
  background-color: var(--color-primary);
  color: #FBFBFC;
  transition: background-color 0.2s ease-in-out;
}

.btn-start:hover {
  background-color: var(--color-secondary);
}

.clock-icon {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.clock-v2 {
  font-size: 2.2rem;
  color: var(--color-primary);
}

.btn-5min {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* Dropdown */
.clock-container {
  position: relative;
  display: inline-block;
}

.clock-list {
  display: none;
  position: absolute;
  list-style-type: none;
  transform: translate(-60%, 5%);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btn-time:hover .clock-list {
  display: block;
  border-radius: 100px;
}

.clock-item {
  background-color: #fff;
  padding: 0.2rem;
  transition: all 0.3s linear;
}

.clock-item:hover {
  background-color: var(--color-primary-30);
}

.clock-item.active {
  background-color: var(--color-primary);
  color: #FBFBFC;
}

.clock-item:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.clock-item:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* //////////////////// TIPS //////////////////// */

.card-tips {
  padding: 2rem;
  width: 100%;
  height: 17rem;
  background-color: var(--color-tips);
  text-align: left;
  overflow: hidden;
}

.tips-header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-text);
}

.tips-info {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--main-text);
  margin-top: 0.4rem;
}

.btn-container {
  text-align: center;
}

.tips-btn {
  margin-top: 1rem;
  letter-spacing: 1.2px;
  text-align: center;
  cursor: pointer;
  border: 0;
  color: #FBFBFC;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

/* //////////////////// MODAL //////////////////// */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 80rem;
  background-color: var(--color-toolbar);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.032);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////// TIPS MODAL //////////////////// */
.modal h4 {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--main-text);
  height: 14rem;
  width: 100%;
  text-align: center;
}


.buttons {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.btn-left,
.btn-right,
.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-right,
.btn-left {
  font-size: 2.6rem;
  color: var(--color-primary);
}

.modal-icon {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 2.5rem;
  color: var(--main-text);
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.selector {
  width: 2rem;
  height: 2rem;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.selector:hover {
  background-color: var(--color-primary-30);
}

.selector.active {
  background-color: var(--color-primary);
}

/* //////////////////// LOGIN FORM //////////////////// */
.form-container {
  width: 1200rem;
  margin: 9.8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 36rem;
  padding: 2.8rem;
  opacity: 0.86;
  border-radius: 15px;
  box-shadow: 0 2rem 7rem rgba(0, 0, 0, 0.09);
  border: #cecece 1px solid;
  font-family: 'Lato', sans-serif;
}

.form-password {
  border: none;
  box-shadow: none;
}

.form-logo {
  width: 55%;
  margin-bottom: 2.4rem;
}

.form-title {
  font-size: 2.2rem;
  color: #555;
  font-weight: 800;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27rem;
  margin: 0 auto;
}

.form-input {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #3D5AF2;
  padding: 0.9rem 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form-input::placeholder {
  color: #aaa;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #2b3fa9;
}

.form-btn {
  border: 0;
  background-color: #3D5AF2;
  color: #FBFBFC;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.8px;
}

.form-btn:hover {
  background-color: #2b3fa9;
}

.form p {
  font-size: 1.4rem;
  color: #555;
  margin-top: 1rem;
}

.signin-btn {
  margin-left: 0.3rem;
  color: #3D5AF2;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

/* //////////////////// EXPORT MODAL //////////////////// */
.modal.modal--export {
  height: 60rem;
  width: 120rem;
  display: inline-block;
}

.modal-export--container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  margin: 1.4rem 0 3.8rem 0;
}

.modal-input {
  width: 30rem;
  margin: 0;
  font-size: 1.9rem;
}

.modal--export {
  overflow-y: scroll;
}

.modal-export--main h2 {
  font-size: 2.8rem;
  color: #666;
  text-align: center;
}

.export-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.8rem;
  height: 8rem;
}

.export-item {
  background-color: #f1f1f1;
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  height: 35rem;
}

.export-text--block {
  width: 25rem;
  height: 20rem;
  margin: 2.4rem auto;
  background-color: #ddd;
  border-radius: 10px;
  align-self: center;
}

.export-item--title {
  margin-top: 1.8rem;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--main-text);
  text-align: center;
}